A `FULL OUTER JOIN` returns all rows when there is a match in either the left (first) table or the right (second) table records, and it also returns unmatched rows from both tables. If there is no match, the result will contain NULL values for columns from the table with no matching row.

Here's an example of how you can use a `FULL OUTER JOIN` with four tables:

```sql
SELECT *
FROM table1
FULL OUTER JOIN table2 ON table1.column_name = table2.column_name
FULL OUTER JOIN table3 ON table2.column_name = table3.column_name
FULL OUTER JOIN table4 ON table3.column_name = table4.column_name;
```

Again, replace `table1`, `table2`, `table3`, and `table4` with your actual table names, and replace `column_name` with the appropriate column names that establish relationships between the tables.

For instance:

```sql
SELECT *
FROM employees
FULL OUTER JOIN departments ON employees.department_id = departments.department_id
FULL OUTER JOIN projects ON departments.project_id = projects.project_id
FULL OUTER JOIN assignments ON projects.assignment_id = assignments.assignment_id;
```

This query would return all rows from the `employees`, `departments`, `projects`, and `assignments` tables, with matching rows joined and unmatched rows filled with NULL values. Adjust the column names based on your specific database schema and relationships.