```sql
SELECT  book_id,
        book_title,
        review_id,
        review_content,
        author_id,
        author_name
FROM
    reviews
INNER JOIN books ON reviews.book_id = books.book_id
INNER JOIN authors ON books.author_id = authors.author_id ;

```

```sql
SELECT
    "yourapp_review"."id" AS "review_id",
    "yourapp_review"."content" AS "review_content",
    "yourapp_book"."id" AS "book_id",
    "yourapp_book"."title" AS "book_title",
    "yourapp_author"."id" AS "author_id",
    "yourapp_author"."name" AS "author_name"
FROM
    "yourapp_review"
    INNER JOIN "yourapp_book" ON ("yourapp_review"."book_id" = "yourapp_book"."id")
    INNER JOIN "yourapp_author" ON ("yourapp_book"."author_id" = "yourapp_author"."id");

```