In [ ]:
l = [2,3,4,7,1]
n = len(l)
for i in range(n-1):
    for j in range(i, n-1):
        if l[i] > l[j]:
            l[i], l[j] = l[j], l[i]
print(l)

In [ ]:
l[0], l[1] = 3, 2
l[0], l[1] = 2, 3

In [ ]:
def fast(item2=[]):  
    item2.append(1)  
    return item2

print(fast())
print(fast())

In [ ]:
l = [1]
a = l
a[1] = 3

In [5]:
s = 'abcdef'
# str_new = 'a*c*d*f'
new_s = ""
for i in range(len(s)-1):
    if i < len(s)-1:
        new_s += s[i] + "*"
    else:
        new_s = new_s+s[i]

print(new_s)

a*b*c*d*e*

In [ ]:
Employee Table--->
emp_id emp_fname emp_lname emp_ dept manager_id
1	ayush	 rawat	   it		   5
2	ankit    singh	   it		   5
3	kusum	 sharma	   hr		   0
4	vishal	 kumar	   sales	   0
5	nisha	 pandey	   it		   3


SELECT emp_dept, COUNT(emp_id) FROM Employee GROUP BY (dept);
MAX, MIN, SUM, COUNT, AVG

SELECT first_name
FROM t1
LEFT JOIN t2
ON t1.emp_id = t2.emp_id ORDER BY emp_salary DECS LIMIT 1, 1;

In [ ]:
id	emp_id  emp_salary emp_postion
1	1	2500000	   SDE		
2	2	3000000	   SDE-2	
3	4	1200000    Associate
4	3	900000	   Manager
5	5	3500000    Lead Dev

SELECT emp_id, MAX(emp_salary) FROM t2;

In [13]:
def modify_string(input_str):
    output_str = ''
    
    for i in range(len(input_str)):
        if i%2!=0:
            output_str += "*"
        else:
            output_str += input_str[i]
    
    return output_str

# Example usage:
input_str = 'abcdef'
output_str = modify_string(input_str)
print(output_str)

a*c*e*

'abcdef'

In [13]:
def triangle(n):
    for i in range(1, n+1):
        print((n-i)*" "+"* "*i)

print(triangle(5))

    *
   * *
  * * *
 * * * *
* * * * *
None

In [37]:
def inverted_triangle(n):
    for i in range(0, n):
        print(i*" "+(n-i)*"* ")

print(inverted_triangle(5))

* * * * *
 * * * *
  * * *
   * *
    *
None

In [90]:
def diamond(n):
    for i in range(1, n+1, 2):
        print((n-i)*" "+i*"* ")
    for i in range(1, n-1, 2):
        print(i*" "+(n-1-i)*" *")

diamond(10)

         *
       * * *
     * * * * *
   * * * * * * *
 * * * * * * * * *
  * * * * * * * *
    * * * * * *
      * * * *
        * *

In [78]:
n = 10
i = 1
while i < n+1:
    print((n-i)*" "+i*"* ")
    i += 2

         *
       * * *
     * * * * *
   * * * * * * *
 * * * * * * * * *